<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickMart</title>
</head>
<body>
    <section>
		<div class="container-fluid pt-2 px-5 pb-5">
			<a href="/admin/" class="text-decoration-none fs-4"><i class="fa-regular fa-circle-left"></i> Back</a>
			<div class="row">
				<p class="text-center fs-3">All Products</p>
				<hr>
				<th:block th:if="${session.succMsg}">
				    <p class="text-success fw-bold">
				        [[${session.succMsg}]]
				    </p>
					<th:block th:text="${@commonServiceimpl.removeSessionMessage()}"></th:block>
				</th:block>
				<th:block th:if="${session.errorMsg}">
				    <p class="text-danger fw-bold">
				        [[${session.errorMsg}]]
				    </p>
					<th:block th:text="${@commonServiceimpl.removeSessionMessage()}"></th:block>
				</th:block>
				<th:block th:if="${session.errorMsg}">
				    <p class="text-danger fw-bold text-center">
				        [[${session.errorMsg}]]
				    </p>
					<th:block th:text="${@commonServiceimpl.removeSessionMessage()}"></th:block>
				</th:block>
				<div class="col-md-4 mb-4">
					<form action="/admin/products" method="get">
						<div class="row">
							<div class="col">
								<input type="text" class="form-control" name="ch" placeholder="Search Product">
							</div>
							<div class="col">
								<button class="btn btn-primary col">Search</button>
							</div>
						</div>
					</form>
				</div>
			<div class="card card-sh">				
				<div class="card-body">
					<table class="table table-bordered">
					  <thead>
					    <tr>
					      <th scope="col">Sl No</th>
						  <th scope="col">Image</th>
					      <th scope="col">Title</th>
					      <th scope="col">Category</th>
						  <th scope="col">Price</th>
						  <th scope="col">Discount</th>
						  <th scope="col">Discount Price</th>
						  <th scope="col">Status</th>
					      <th scope="col">Stock</th>
						  <th scope="col">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="p,c:${products}">
					      <th scope="row">[[${c.count}]]</th>
					      <td><img th:src="@{'/img/product_img/'+ ${p.image}}" width="70px" height="70px"></td>
					      <td>[[${p.title}]]</td>
					      <td>[[${p.category}]]</td>
						  <td>[[${p.price}]]</td>
						  <td>[[${p.discount}]]</td>
						  <td>[[${p.discountPrice}]]</td>
						  <td>[[${p.isActive}]]</td>
	  				      <td>[[${p.stock}]]</td>
	  				      <td>
							<a th:href="@{'/admin/editProduct/'+${p.id}}" class="btn btn-primary btn-sm">
								<i class="fa-solid fa-pen-to-square"></i> Edit
							</a>
							<a th:href="@{'/admin/deleteProduct/'+${p.id}}" class="btn btn-danger btn-sm">
								<i class="fa-solid fa-trash"></i> Delete
							</a>
						  </td>
					    </tr>
					    
					  </tbody>
					</table>
					<!-- Pagination Start -->
					<div class="row mt-3">
						<div class="col-md-4 fw-bold">
							Total Products : [[${totalElements}]]
						</div>
						<div class="col-md-4">
							<nav>
								<ul class="pagination justify-content-center">
									<!-- Previous -->
									<li class="page-item"
										th:if="${isFirst != null and !isFirst}">
										<a class="page-link"
											th:href="@{'/admin/products?pageNo=' + ${pageNo-1} + '&pageSize=' + ${pageSize} + '&ch=' + ${ch}}">
											&laquo;
										</a>
									</li>
									<!-- Page Number -->
									<li class="page-item"
										th:each="i : ${#numbers.sequence(1,totalPages)}"
										th:classappend="${pageNo == i-1} ? 'active' : ''">
										<a class="page-link"
											th:href="@{'/admin/products?pageNo=' + ${i-1} + '&pageSize=' + ${pageSize} + '&ch=' + ${ch}}">
											[[${i}]]
										</a>
									</li>
									<!-- Next -->
									<li class="page-item"
										th:if="${isLast != null and !isLast}">
										<a class="page-link"
											th:href="@{'/admin/products?pageNo=' + ${pageNo+1} + '&pageSize=' + ${pageSize} + '&ch=' + ${ch}}">
											&raquo;
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- Pagination End -->
				</div>
			</div>
		</div>
		</div>
	</section>
</body>
</html>