<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickMart</title>
</head>
<body>
	<section>
		<!--catergory model-->
		<div class="container">
			<div class="row">
				<p class="text-center fs-4">Category</p>
				<div class="col-md-2" th:each="c:${homecategory}">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img th:src="@{'/img/category_img/'+${c.imageName}}" width="65%" height="140px"> <br>
							<a th:href="@{/product(category=${c.name})}" class="text-decoration-none">[[${c.name}]]</a>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<!-- end category model -->
		<!--start latest product-->
		<div class="container-fluid bg-light p-3">
				<div class="row">
					<p class="text-center fs-4">Latest Product</p>
					<div class="col-md-3"th:each="p:${homeproducts}">
						<div class="card" >
							<div class="card-body text-center">
								<img th:src="@{'/img/product_img/'+${p.image}}" width="65%" height="140px">
								<p><a th:href="@{'/view_product/'+ ${p.id}}" class="text-decoration-none">[[${p.title}]]</a></p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		<!--end latest product-->
	</section>
</body>
</html>