<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ClickMart</title>
</head>

<body>
	<section>
		<div class="container mt-5 p-5">
			<div class="row">
				<div class="col-md-6 mt-5 p-5 text-center offset-md-3">
					<h3 class="text-success">[[${succMsg}]]</h3>
					<h3 class="text-danger">[[${errorMsg}]]</h3>
				</div>
			</div>
		</div>
	</section>
</body>

</html>